In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as m
etsy = pd.ExcelFile("Alphonso-Airings-Report-Etsy-20201230.xlsx").parse("Brand Campaign Details", skiprows =1)

In [2]:
etsy1 = pd.ExcelFile("first.xlsx")

In [3]:
etsy1_Df = etsy1.parse("Brand-Campaign-Details", skiprows = 1)

In [5]:
e = pd.ExcelFile("second blanket.xlsx").parse("Brand-Campaign-Details", skiprows =1)

In [2]:
et = pd.ExcelFile("third.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [7]:
ets = pd.ExcelFile("fourth almost srt.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [8]:
etsy = pd.ExcelFile("fifth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [9]:
etsyy = pd.ExcelFile("sixth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [10]:
etsyyy = pd.ExcelFile("seventh festival.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [11]:
etsyyyy = pd.ExcelFile("eighth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [12]:
etsya = pd.ExcelFile("ninth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [13]:
etsyb = pd.ExcelFile("tenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [14]:
etsyc = pd.ExcelFile("eleventh christmas.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [15]:
etsyd = pd.ExcelFile("twelveth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [16]:
etsye = pd.ExcelFile("thirteenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [17]:
etsyee = pd.ExcelFile("fourteenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [18]:
etsyff = pd.ExcelFile("fifteenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [19]:
etsyefg = pd.ExcelFile("sixteenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [21]:
etsyh = pd.ExcelFile("seventeenth christmas.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [22]:
etsyhij = pd.ExcelFile("eighteenth.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [24]:
etsyj = pd.ExcelFile("nineteenth festival.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [25]:
etsyjh = pd.ExcelFile("twentyth almost art.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [3]:
etsyjhh = pd.ExcelFile("twenty first.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [27]:
etsyjhj = pd.ExcelFile("twenty second blanket.xlsx").parse("Brand-Campaign-Details", skiprows = 1)

In [28]:
def eastern(df):
    df = df.drop(['Title', 'Brand', 
        'Product', "Co-Op Brand", "Co-Op Product", "Broadcast Week", "Broadcast Year", "TimeZone"], axis = 1)
    df["Datetime"] = df["Date"] + " " + df["Time"]
    df["Eastern Date time"] = pd.to_datetime(df["Datetime"])
    df["zone time pacific"] = df["Eastern Date time"].dt.tz_localize("US/Eastern", ambiguous = False).dt.tz_convert("US/Pacific")
    df["HourofDay zonetimepacific"] = pd.to_datetime(df["zone time pacific"]).dt.strftime("%H")
    df["Day of week zone time pacific"] = pd.to_datetime(df["zone time pacific"]).dt.weekday + 1
#et -]
    df = df.rename(columns={"Dayparts": "Dayparts eastern", "Broadcast Month":"Broadcast month eastern", "Day Of Week" : "Day Of Week eastern",
                  "Hour Of Day" : "Hour of Day Eastern"})
    df = df.drop(['Date', 'Time', 'EQ Units', 'Datetime'], axis = 1)
    df["Eastern Date time"] = df["Eastern Date time"].map("{:.02}".format)
    return df

In [29]:
import pytz
import datetime

In [ ]:
eastern(etsyy)

In [ ]:
import matplotlib.pyplot

In [56]:
blanket = pd.concat([e, etsyjhj]).reset_index().drop(["index"], axis = 1)
almostart = pd.concat([ets, etsyjh]).reset_index().drop(["index"], axis = 1)
festival = pd.concat([etsyyy, etsyj]).reset_index().drop(["index"], axis = 1)
christmas = pd.concat([etsyh, etsyc]).reset_index().drop(["index"], axis = 1)

In [87]:
mega = pd.concat([etsy1_Df, et, etsy, etsyy,etsya, etsyb, etsyd, etsyee,
                 etsyff, etsyefg, etsyhij, blanket, almostart, festival, christmas, etsye, etsyjhh, etsyyyy])

In [88]:
mega = mega.reset_index().drop(["index"], axis = 1)

In [59]:
mega.groupby(["Id"]).count().Title

Id
4748227      10
4750662       2
5119863    1891
5119955    1266
5119994      19
5172668    1555
5172784     385
5173325    1072
5175409     717
5190841      57
5191244    1083
5191759     389
5192517     188
5194800     287
5196788     349
5197399    2450
5197973      72
5209333     123
5214231     157
5230973     169
5238748      39
5247274       3
Name: Title, dtype: int64

In [83]:
blanket["Id"] = len(blanket["Id"])*["5197399"]

In [84]:
almostart["Id"] = len(almostart["Id"])*["5119863"]

In [85]:
festival["Id"] = len(festival["Id"])*["5191759"]

In [86]:
christmas["Id"] = len(christmas["Id"])*["5194800"]

In [98]:
uniquemega = eastern(mega)

In [61]:
heatmapdata = uniquemega.groupby(["Day Of Week eastern", "Hour of Day Eastern"]).count().Id.reset_index()

In [62]:
heatmapdata.to_excel(
"heatmapdata.xlsx", sheet_name = "heatmapdata")

In [63]:
heatmapdatapacific = uniquemega.groupby(["Day of week zone time pacific", "HourofDay zonetimepacific"]).count().Id.reset_index()

In [ ]:
uniquemega

In [64]:
heatmapdatapacific.to_excel("heatmapdatapacific.xlsx", sheet_name = "heatmapdatapacific")

In [ ]:
heatmapdata

In [ ]:
heatmapdatapacific

In [ ]:
chdoda = uniquemega.groupby(["Network", "Dayparts eastern"]).sum()

In [ ]:
chdoda

In [ ]:
chdoda = chdoda["Spend ($)"].reset_index()

In [ ]:
chdoda

In [ ]:
chdoda["Dayparts eastern"].unique()

In [ ]:
chdoda = chdoda.pivot(index = "Network", columns = "Dayparts eastern", values = "Spend ($)")

In [ ]:
chdoda

In [ ]:
daypartsstackedbar = chdoda

In [ ]:
chdoda.to_excel("chdoda.xlsx", sheet_name = "chdoda")

In [ ]:
chdoda = chdoda

In [ ]:
chdoda["Total"] = (chdoda["DAYTIME"] + chdoda["EARLY FRINGE"] + chdoda["EARLY MORNING"] + chdoda["EVENING NEWS"] +
                   chdoda["LATE FRINGE"] + chdoda["OVERNIGHT"] + chdoda["PRIME ACCESS"] + chdoda["PRIME TIME"] + chdoda["WEEKEND"])

In [ ]:
chdoda.fillna(0)

In [ ]:
chdoda = chdoda.fillna(0)

In [ ]:
chdoda = chdoda.nlargest(10, "Total")

In [ ]:
chdoda

In [108]:
daypartdura = uniquemega.groupby(["Dayparts eastern", "Duration"]).count().Id.reset_index()

In [ ]:
daypartdura

In [110]:
daypartdura.to_excel("daypartdura.xlsx", sheet_name = "daypartdura")

In [109]:
daypartdura = daypartdura.pivot(index = "Dayparts eastern", columns = "Duration", values = "Id")

In [ ]:
mega.groupby(['Id']
              ).count().Title

In [ ]:
mega = pd.ExcelFile("Alphonso-Commercials-Report-Etsy-20210102.xlsx").parse("sheet 1", skiprows = 1)

In [111]:
monthdur = uniquemega.groupby(["Broadcast month eastern","Duration"]).count().Id.reset_index()

In [112]:
monthdur

  Broadcast month eastern  Duration    Id
0                     DEC        15  2431
1                     DEC        30  1749
2                     NOV        15  2702
3                     NOV        30  2502
4                     OCT        15  1766
5                     OCT        30  1133

In [114]:
monthdur.to_excel("monthdur.xlsx", sheet_name = "monthdur")

In [113]:
monthdur = monthdur.pivot(index = "Broadcast month eastern", values ="Id", columns = "Duration")

In [121]:
dacha = uniquemega.groupby(["Network","Day Of Week eastern" ]).count().reset_index()

In [122]:
dacha

,Network,Day Of Week eastern,Id,Category,Network Type,Show,Pod Position,Dayparts eastern,Duration,Spend ($),Broadcast month eastern,Hour of Day Eastern,Eastern Date time,zone time pacific,HourofDay zonetimepacific,Day of week zone time pacific
0,A&E,1,33,33,33,33,33,33,33,33,33,33,33,33,33,33
1,A&E,2,31,31,31,31,31,31,31,31,31,31,31,31,31,31
2,A&E,3,30,30,30,30,30,30,30,30,30,30,30,30,30,30
3,A&E,4,21,21,21,21,21,21,21,21,21,21,21,21,21,21
4,A&E,5,23,23,23,23,23,23,23,23,23,23,23,23,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,truTV,3,9,9,9,9,9,9,9,9,9,9,9,9,9,9
410,truTV,4,15,15,15,15,15,15,15,15,15,15,15,15,15,15
411,truTV,5,16,16,16,16,16,16,16,16,16,16,16,16,16,16
412,truTV,6,3,3,3,3,3,3,3,3,3,3,3,3,3,3
413,truTV,7,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [124]:
dacha.nlargest(10, "Id")

,Network,Day Of Week eastern,Id,Category,Network Type,Show,Pod Position,Dayparts eastern,Duration,Spend ($),Broadcast month eastern,Hour of Day Eastern,Eastern Date time,zone time pacific,HourofDay zonetimepacific,Day of week zone time pacific
190,Hallmark Channel,7,136,136,136,136,136,136,136,136,136,136,136,136,136,136
189,Hallmark Channel,6,107,107,107,107,107,107,107,107,107,107,107,107,107,107
187,Hallmark Channel,4,102,102,102,102,102,102,102,102,102,102,102,102,102,102
188,Hallmark Channel,5,102,102,102,102,102,102,102,102,102,102,102,102,102,102
329,TLC,4,100,100,100,100,100,100,100,100,100,100,100,100,100,100
185,Hallmark Channel,2,94,94,94,94,94,94,94,94,94,94,94,94,94,94
237,Lifetime,5,87,87,87,87,87,87,87,87,87,87,87,87,87,87
236,Lifetime,4,86,86,86,86,86,86,86,86,86,86,86,86,86,86
184,Hallmark Channel,1,83,83,83,83,83,83,83,83,83,83,83,83,83,83
174,HGTV,5,82,82,82,82,82,82,82,82,82,82,82,82,82,82

In [123]:
dacha = dacha.loc[dacha["Network"].isin(["Hallmark Channel", "CNN", "HGTV", "TLC", "Lifetime"])]

In [ ]:
dacha.loc[dacha["Network"].isin(["Hallmark Channel", "CNN", "HGTV", "TLC", "Lifetime"])]

In [125]:
dacha

,Network,Day Of Week eastern,Id,Category,Network Type,Show,Pod Position,Dayparts eastern,Duration,Spend ($),Broadcast month eastern,Hour of Day Eastern,Eastern Date time,zone time pacific,HourofDay zonetimepacific,Day of week zone time pacific
80,CNN,1,30,30,30,30,30,30,30,30,30,30,30,30,30,30
81,CNN,2,48,48,48,48,48,48,48,48,48,48,48,48,48,48
82,CNN,3,49,49,49,49,49,49,49,49,49,49,49,49,49,49
83,CNN,4,69,69,69,69,69,69,69,69,69,69,69,69,69,69
84,CNN,5,65,65,65,65,65,65,65,65,65,65,65,65,65,65
85,CNN,6,63,63,63,63,63,63,63,63,63,63,63,63,63,63
86,CNN,7,39,39,39,39,39,39,39,39,39,39,39,39,39,39
170,HGTV,1,53,53,53,53,53,53,53,53,53,53,53,53,53,53
171,HGTV,2,55,55,55,55,55,55,55,55,55,55,55,55,55,55
172,HGTV,3,53,53,53,53,53,53,53,53,53,53,53,53,53,53
173,HGTV,4,64,64,64,64,64,64,64,64,64,64,64,64,64,64
174,HGTV,5,82,82,82,82,82,82,82,82,82,82,82,82,82,82
175,HGTV,6,69,69,69,69,69,69,69,69,69,69,69,69,69,69
176,HGTV,7,60,60,60,60,60,60,60,60,60,60,60,60,60,60
184,Hallmark Channel,1,83,83,83,83,83,83,83,83,83,83,83,83,83,83
185,Hallmark Channel,2,94,94,94,94,94,94,94,94,94,94,94,94,94,94
186,Hallmark Channel,3,80,80,80,80,80,80,80,80,80,80,80,80,80,80
187,Hallmark Channel,4,102,102,102,102,102,102,102,102,102,102,102,102,102,102
188,Hallmark Channel,5,102,102,102,102,102,102,102,102,102,102,102,102,102,102
189,Hallmark Channel,6,107,107,107,107,107,107,107,107,107,107,107,107,107,107
190,Hallmark Channel,7,136,136,136,136,136,136,136,136,136,136,136,136,136,136
233,Lifetime,1,80,80,80,80,80,80,80,80,80,80,80,80,80,80
234,Lifetime,2,71,71,71,71,71,71,71,71,71,71,71,71,71,71
235,Lifetime,3,77,77,77,77,77,77,77,77,77,77,77,77,77,77
236,Lifetime,4,86,86,86,86,86,86,86,86,86,86,86,86,86,86
237,Lifetime,5,87,87,87,87,87,87,87,87,87,87,87,87,87,87
238,Lifetime,6,63,63,63,63,63,63,63,63,63,63,63,63,63,63
239,Lifetime,7,72,72,72,72,72,72,72,72,72,72,72,72,72,72
326,TLC,1,39,39,39,39,39,39,39,39,39,39,39,39,39,39
327,TLC,2,68,68,68,68,68,68,68,68,68,68,68,68,68,68
328,TLC,3,71,71,71,71,71,71,71,71,71,71,71,71,71,71
329,TLC,4,100,100,100,100,100,100,100,100,100,100,100,100,100,100
330,TLC,5,71,71,71,71,71,71,71,71,71,71,71,71,71,71
331,TLC,6,67,67,67,67,67,67,67,67,67,67,67,67,67,67
332,TLC,7,55,55,55,55,55,55,55,55,55,55,55,55,55,55

In [120]:
dacha.to_excel("dacha.xlsx", sheet_name = "dacha")

In [ ]:
dacha = dacha.groupby("Network").count()

In [ ]:
dacha

In [ ]:
et

In [ ]:
etsyjhh

In [ ]:
et.groupby("Network").count().nlargest(10, "Title")

In [99]:
oveer = uniquemega.groupby(["Broadcast month eastern", "Id"]).count()

In [ ]:
oveer

In [100]:
oveer = uniquemega.groupby(["Id", "Broadcast month eastern"]).count()

In [ ]:
ovver -

In [90]:
ovver =

SyntaxError: invalid syntax (<ipython-input-90-d74c4c71a26a>, line 1)

In [102]:
ovelap = uniquemega.groupby(["Id", "Broadcast month eastern"]).sum()

In [103]:
ovelap

                                 Pod Position  Duration  Spend ($)  \
Id      Broadcast month eastern
5119955 NOV                               811      4050     333598
        OCT                              6653     33930    2696299
5119994 NOV                                 7        15        170
        OCT                               128       270      15516
5172668 DEC                              3649     18300    1270336
        NOV                              5654     28350    2517610
5172784 DEC                               398      2250     507485
        NOV                              1598      9300    1710570
5173325 DEC                              2877      7425     499267
        NOV                              3481      8655     740360
5175409 DEC                              1943      5145     617113
        NOV                              2160      5610     888093
5191244 DEC                              2856     14130     873940
        NOV                              3362     18360    1377565
5192517 DEC                               689      1770     166557
        NOV                               382      1050     244256
5196788 DEC                              1464      7500     725179
        NOV                               446      2970     881930
5197973 DEC                               165      1080     170362
        NOV                               148      1080     179210
5214231 DEC                               866      3870     212120
        NOV                               150       840     177378
5230973 DEC                               923      2475     218631
        NOV                                25        60       3086
5238748 DEC                               221       480      56660
        NOV                                26       105       7900
5247274 DEC                                 3        30       5444
        NOV                                11        60       2695
5119863 DEC                               131       360       1777
        NOV                              1029      2790     203763
        OCT                              9850     26070    2217602
5191759 DEC                               297      1830     395145
        NOV                              1876      9840    1614244
        OCT                                52       150       4388
5194800 DEC                              1062      4455     347961
        NOV                              1348      3540     365428
5197399 DEC                              7432     17835    1500854
        NOV                              7968     18915    1815394
        OCT                                19        60       2646

                                 Day Of Week eastern  Hour of Day Eastern  \
Id      Broadcast month eastern
5119955 NOV                                      223                 1715
        OCT                                     4963                15209
5119994 NOV                                        2                   18
        OCT                                       89                  324
5172668 DEC                                     2357                 8351
        NOV                                     4167                13491
5172784 DEC                                      320                 1223
        NOV                                     1428                 4756
5173325 DEC                                     1852                 6933
        NOV                                     2490                 8059
5175409 DEC                                     1431                 4952
        NOV                                     1769                 5782
5191244 DEC                                     1790                 6376
        NOV                                     2562                 8350
5192517 DEC                                      439                 1720
        NOV                                      330                 1204
5196788 DEC                                     1020                 3439
        NOV                                      451                 1632
5197973 DEC                                      126                  505
        NOV                                      163                  465
5214231 DEC                                      483                 1792
        NOV                                      129                  475
5230973 DEC                                      625                 2324
        NOV                                       20                   82
5238748 DEC                                      141                  577
        NOV                                       27                   74
5247274 DEC                                        6                   21
        NOV                                        4                   30
5119863 DEC                                       90                  377
        NOV                                      350                 2687
        OCT                                     7325                23854
5191759 DEC                                      252                  876
        NOV                                     1481                 4731
        OCT                                       42                   63
5194800 DEC                                      786                 2780
        NOV                                     1046                 3190
5197399 DEC                                     4699                16536
        NOV                                     5620                17528
        OCT                                        8                    1

                                 Day of week zone time pacific
Id      Broadcast month eastern
5119955 NOV                                                229
        OCT                                               4954
5119994 NOV                                                  2
        OCT                                                 89
5172668 DEC                                               2367
        NOV                                               4147
5172784 DEC                                                313
        NOV                                               1401
5173325 DEC                                               1855
        NOV                                               2522
5175409 DEC                                               1432
        NOV                                               1762
5191244 DEC                                               1829
        NOV                                               2550
5192517 DEC                                                437
        NOV                                                332
5196788 DEC                                               1017
        NOV                                                437
5197973 DEC                                                130
        NOV                                                157
5214231 DEC                                                482
        NOV                                                129
5230973 DEC                                                622
        NOV                                                 20
5238748 DEC                                                146
        NOV                                                 25
5247274 DEC                                                  6
        NOV                                                  4
5119863 DEC                                                 90
        NOV                                                356
        OCT                                               7270
5191759 DEC                                                271
        NOV                                               1473
        OCT                                                 36
5194800 DEC                                                778
        NOV                                               1028
5197399 DEC                                               4699
        NOV                                               5573
        OCT                                                  6

In [104]:
uniId = uniquemega["Id"].unique()

In [105]:
uniId

array([5172668, 5119955, 5191244, 5172784, 5175409, 5173325, 5192517,
       5214231, 5230973, 5238748, 5119994, '5197399', '5119863',
       '5191759', '5194800', 5197973, 5247274, 5196788], dtype=object)

In [106]:
ovelap = ovelap["Spend ($)"]

In [107]:
ovelap = ovelap.reset_index()

In [97]:
monove = uniquemega.groupby(["Broadcast month eastern", "Id"]).count()

In [81]:
ovelap = ovelap.groupby("Id").sum()

In [82]:
ovelap

         Spend ($)
Id
4748227       4388
4750662       2646
5119863    2420287
5119955    3029897
5119994      15686
5172668    3787946
5172784    2218055
5173325    1239627
5175409    1505206
5190841       2855
5191244    2251505
5191759    2009389
5192517     410813
5194800     571842
5196788    1607109
5197399    3316248
5197973     349572
5209333     141547
5214231     389498
5230973     221717
5238748      64560
5247274       8139

In [78]:
ovelap = ovelap.nlargest(18, "Spend ($)")

In [79]:
ovelap

         Spend ($)
Id
5172668    3787946
5197399    3316248
5119955    3032543
5119863    2424675
5191244    2251505
5172784    2218055
5191759    2017528
5196788    1607109
5175409    1505206
5173325    1239627
5238748     636402
5192517     410813
5214231     389498
5197973     349572
5230973     221717
5209333     141547
5238748      64560
5119994      15686

In [65]:
ncm = uniquemega.groupby(["Network"]).sum()#.Id.reset_index()

In [66]:
uniquemega

,Id,Category,Network,Network Type,Show,Pod Position,Dayparts eastern,Duration,Spend ($),Broadcast month eastern,Day Of Week eastern,Hour of Day Eastern,Eastern Date time,zone time pacific,HourofDay zonetimepacific,Day of week zone time pacific
0,5172668,"Apparel, Accessories & Footwear",AMC,cable,"Friday the 13th, Part 2",9,PRIME TIME,30,2373,NOV,4,22,.02,2020-10-29 19:01:13-07:00,19,4
1,5172668,"Apparel, Accessories & Footwear","Tr3s: MTV, Musica y Mas",cable,2 x 1,6,PRIME TIME,30,20,NOV,1,22,.02,2020-11-09 19:52:49-08:00,19,1
2,5172668,"Apparel, Accessories & Footwear",E!,cable,Fast & Furious,8,PRIME TIME,30,2776,NOV,4,21,.02,2020-11-26 18:05:37-08:00,18,4
3,5172668,"Apparel, Accessories & Footwear",MTV - Music Television,cable,How to Lose a Guy in 10 Days,18,DAYTIME,30,1181,NOV,2,15,.02,2020-11-24 12:20:53-08:00,12,2
4,5172668,"Apparel, Accessories & Footwear",Hallmark Movies & Mysteries,cable,A Blue Ridge Mountain Christmas,3,EARLY FRINGE,30,1781,NOV,4,16,.02,2020-11-05 13:43:11-08:00,13,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,5196788,Online Retail,Food Network,cable,"Diners, Drive-Ins and Dives",2,PRIME TIME,30,6901,DEC,6,20,.02,2020-12-12 17:37:52-08:00,17,6
12279,5196788,Online Retail,Oprah Winfrey Network,cable,The Pursuit of Happyness,3,LATE FRINGE,30,320,DEC,4,0,.02,2020-12-02 21:26:34-08:00,21,3
12280,5196788,Online Retail,Lifetime,cable,Every Other Holiday,10,EARLY FRINGE,30,2598,DEC,1,16,.02,2020-12-07 13:55:00-08:00,13,1
12281,5196788,Online Retail,Paramount Network,cable,Mom,3,DAYTIME,30,897,DEC,2,14,.02,2020-12-15 11:38:45-08:00,11,2
12282,5196788,Online Retail,National Geographic,cable,Drain the Oceans,4,DAYTIME,30,875,DEC,3,10,.02,2020-12-02 07:33:25-08:00,07,3

In [67]:
ncm

,Id,Pod Position,Duration,Spend ($),Day Of Week eastern,Hour of Day Eastern,Day of week zone time pacific
Network,,,,,,,
A&E,1059722538,1165,3825,312765,810,2740,808
ABC,114077667,92,450,1090849,85,453,85
AMC,679863352,882,2805,210755,579,1953,578
Animal Planet,148476763,173,555,21182,125,346,146
BBC America,359578162,334,1365,22851,307,710,301
...,...,...,...,...,...,...,...
Univision,207717132,215,900,89994,194,583,194
VICELAND,758616713,928,2700,36065,667,2178,665
WE tv,388804900,485,1650,43042,356,906,341
nick@nite,453788023,538,1830,101416,377,1456,383
truTV,326418148,310,1425,38443,236,797,236

In [68]:
ncm = ncm["Spend ($)"].reset_index()
nn = uniquemega.groupby(["Network"]).count().Id.reset_index()

In [69]:
nnetworkm = ncm.merge(nn)

In [147]:
nnetworkm

          Network  Spend ($)   Id
0             A&E     312765  204
1             ABC    1090849   22
2             AMC     210755  132
3   Animal Planet      21182   29
4     BBC America      22851   70
..            ...        ...  ...
57      Univision      89994   40
58       VICELAND      36065  146
59          WE tv      43514   76
60      nick@nite     101416   88
61          truTV      38443   63

[62 rows x 3 columns]

In [148]:
nnetworkm = nnetworkm

In [70]:
nnetworkm["$ per airings"] = nnetworkm["Spend ($)"]/ nnetworkm["Id"]

In [73]:
nnetworkm

                    Network  Spend ($)   Id  $ per airings
1                       ABC    1090849   22   49584.045455
39                      NBC     586814   21   27943.523810
9                       CBS     585990   22   26635.909091
20                      FOX     324459   22   14748.136364
40              NFL Network       7936    1    7936.000000
..                      ...        ...  ...            ...
6                   BET Her      13540  183      73.989071
33                   LOGOtv       6131   83      73.867470
17         Discovery Family       3409   54      63.129630
19               EstrellaTV       3112   97      32.082474
52  Tr3s: MTV, Musica y Mas       3173  202      15.707921

[62 rows x 4 columns]

In [74]:
nnetworkm = nnetworkm.to_excel("nnetworkm.xlsx", sheet_name = "networkm")

In [72]:
nnetworkm = nnetworkm.nlargest(62, "$ per airings")

In [4]:
et

,Id,Title,Brand,Product,Category,Network,Network Type,Show,Date,Time,...,Co-Op Product,Duration,EQ Units,Spend ($),Broadcast Year,Broadcast Month,Broadcast Week,Day Of Week,Hour Of Day,TimeZone
0,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",TBS,cable,Impractical Jokers,10/14/2020,2:36:46 AM,...,NaN,30,1,1094,2020,OCT,42,3,2,US/Eastern
1,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",Comedy Central,cable,Parks and Recreation,10/24/2020,9:07:32 AM,...,NaN,30,1,532,2020,OCT,43,6,9,US/Eastern
2,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",TLC,cable,The Family Chantel,10/12/2020,9:32:14 PM,...,NaN,30,1,6119,2020,OCT,42,1,21,US/Eastern
3,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",Oxygen,cable,Snapped,10/15/2020,3:42:02 PM,...,NaN,30,1,694,2020,OCT,42,4,15,US/Eastern
4,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",ION Television,broadcast,Chicago P.D.,10/01/2020,9:16:54 PM,...,NaN,30,1,4721,2020,OCT,40,4,21,US/Eastern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",MSNBC,cable,The Rachel Maddow Show,10/27/2020,9:45:21 PM,...,NaN,30,1,10988,2020,NOV,44,2,21,US/Eastern
1262,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",HGTV,cable,Love It or List It,10/26/2020,1:29:31 PM,...,NaN,30,1,4065,2020,NOV,44,1,13,US/Eastern
1263,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",TLC,cable,My Big Fat American Gypsy Wedding,10/15/2020,2:41:30 PM,...,NaN,30,1,1595,2020,OCT,42,4,14,US/Eastern
1264,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",MTV2,cable,16 and Pregnant,10/19/2020,4:30:03 PM,...,NaN,30,1,163,2020,OCT,43,1,16,US/Eastern
1265,5119955,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",MTV - Music Television,cable,Catfish: The TV Show,10/28/2020,9:44:32 PM,...,NaN,30,1,1867,2020,NOV,44,3,21,US/Eastern

In [5]:
etsyjhh

,Id,Title,Brand,Product,Category,Network,Network Type,Show,Date,Time,...,Co-Op Product,Duration,EQ Units,Spend ($),Broadcast Year,Broadcast Month,Broadcast Week,Day Of Week,Hour Of Day,TimeZone
0,5247274,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",A&E,cable,Court Cam,11/18/2020,6:09:14 PM,...,NaN,30,1,2214,2020,NOV,47,3,18,US/Eastern
1,5247274,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",A&E,cable,Cold Case Files,11/23/2020,12:20:13 PM,...,NaN,30,1,481,2020,NOV,48,1,12,US/Eastern
2,5247274,Etsy Branding,Etsy,Etsy Branding,"Apparel, Accessories & Footwear",AMC,cable,National Lampoon's Christmas Vacation,12/05/2020,9:27:10 PM,...,NaN,30,1,5444,2020,DEC,49,6,21,US/Eastern

In [6]:
et.groupby(["Network"]).count().Id.reset_index().nlargest(10, "Id")

                        Network  Id
18  Hallmark Movies & Mysteries  95
30                       Oxygen  82
4                         Bravo  73
17             Hallmark Channel  66
23              Lifetime Movies  53
34                          TLC  52
24                        MSNBC  50
22                     Lifetime  44
38                  USA Network  42
13                           FX  40

In [133]:
etsyjhh.groupby(["Network"]).count().Id.reset_index().nlargest(10, "Id")

  Network  Id
0     A&E   2
1     AMC   1

In [7]:
et.groupby(["Network"]).count().Id.reset_index().nlargest(10,"Id")

                        Network  Id
18  Hallmark Movies & Mysteries  95
30                       Oxygen  82
4                         Bravo  73
17             Hallmark Channel  66
23              Lifetime Movies  53
34                          TLC  52
24                        MSNBC  50
22                     Lifetime  44
38                  USA Network  42
13                           FX  40